<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Blog Hub</title>

    {# MEDIUM STYLE EDITOR#}
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    {# Fonts#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- Additional-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {# Custom CSS#}
    <!--<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://getbootstrap.com/docs/4.5/examples/cover/cover.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
  </head>

  <body >
    <div class="container d-flex flex-column w-100 h-100 p-3 mx-auto"> <!--   style="background-color: #f8f9fa!important"-->
      <div class="masthead" >
        <div class="inner" >
          <a class="masthead-brand text-decoration-none"  href="{% url 'post_list' %}"><h3>Blog Hub</h3></a>
          <nav class="nav nav-masthead justify-content-center" >
            {% if user.is_authenticated %}
            {% if request.path == "/" %} 
              <a class="nav-link" href="{% url 'post_new' %}" >New Post</a>
              <a class="nav-link" href="{% url 'post_draft_list' %}" >Drafts</a>
              <a class="nav-link" href="{% url 'logout' %}" >Log out</a>
              <a class="nav-link border-bottom-0" >Welcome: {{ user.username }}</a>
              {% elif request.path == "/drafts/" %}  
                <a class="nav-link " href="{% url 'post_new' %}" >New Post</a>
                <a class="nav-link active" href="{% url 'post_draft_list' %}" >Drafts</a>
                <a class="nav-link" href="{% url 'logout' %}" >Log out</a>
                <a class="nav-link border-bottom-0" >Welcome: {{ user.username }}</a>
                {% else %}  
                <a class="nav-link active" href="{% url 'post_new' %}" >New Post</a>
                <a class="nav-link " href="{% url 'post_draft_list' %}" >Drafts</a>
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                <a class="nav-link border-bottom-0" >Welcome: {{ user.username }}</a>
              {% endif %}
            {% else %}
              <a class='nav navbar-right' href="{% url 'login' %}" >
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
              </a>
            {% endif %}
          </nav>
          
        </div>
        <hr>
      </div>
      
      <main  class="inner cover" >
        {# The actual blog posts#}
        <div class="content container" >
          <div class="row">
            <div class="col-md-9">
              <div class="blog_posts">
                {% block content %}
                {% endblock %}
              </div>
            </div>
            <div class="col-md-3">
              <div class="blog_posts">
                {% block side-content %}
                {% endblock %}
              </div>
            </div>            
          </div>
        </div>
      </main>
  </div>

    {# SCRIPTS#}
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>
</html>
